<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for you business!, <%= @user.name %>!</h1>
    <p>Your listing has been successfully created and can be view on your profile</p>
  </body>
</html>