@import "bootstrap";



.banner{
  margin-bottom:30px;

}

#test{
  margin-bottom:20px;
  height:230px;
  width:100%; 
}

// .gameposting{
//     background-color:whitesmoke;
//     margin:2%;
//     padding:2%;
//     border:grey 2px solid;
// }

 body{
background-color:teal;
background-color: steelblue;
}

// h1{ 
//     text-align: center;
// }


// body {
//     background-color: #fff;
//     color: #333;
//     margin: 33px;
//     font-family: verdana, arial, helvetica, sans-serif;
//     font-size: 13px;
//     line-height: 18px;
//   }
  
//   p, ol, ul, td {
//     font-family: verdana, arial, helvetica, sans-serif;
//     font-size: 13px;
//     line-height: 18px;
//   }
  
//   pre {
//     background-color: #eee;
//     padding: 10px;
//     font-size: 11px;
//   }
  
//   a {
//     color: #000;
  
//     &:visited {
//       color: #666;
//     }
  
//     &:hover {
//       color: #fff;
//       background-color: #000;
//     }
//   }
  
//   th {
//     padding-bottom: 5px;
//   }
  
//   td {
//     padding: 0 5px 7px;
//   }
  
     div {
     &.field, &.actions {
       margin-bottom: 10px;
     }
   }
  
//   #notice {
//     color: green;
//   }
  
//   .field_with_errors {
//     padding: 2px;
//     background-color: red;
//     display: table;
//   }
//   .errormessage {
//     width: 450px;
//     border: 2px solid red;
//     padding: 7px 7px 0;
//     margin-bottom: 20px;
//     background-color: #f0f0f0;
// }
//     h2 {
//       text-align: left;
//       font-weight: bold;
//       padding: 5px 5px 5px 15px;
//       font-size: 12px;
//       margin: -7px -7px 0;
//       background-color: #c00;
//       color:red;
//     }
  
//     ul li {
//       font-size: 12px;
//       list-style: square;
//     }
//   }
  
//   label {
//     display: block;
//   }
  

// @import "bootstrap";


// *{
//     box-sizing: border-box;
// }




// body{
//     background-color:#4985cb
// }

// h1{
//     text-align:center;
//     color:white;
// }

// #CreateAccount
// {
//     width:200px;
//     margin-left:90px;
//     position:absolute;
// }

 .icon{
   border-radius: 20%;

 }


.showgame{
    background-color:whitesmoke;
    margin:2%;
    padding:2%;
    border:rgb(92, 91, 91) 2px solid;
    -webkit-box-shadow: 1px 0px 31px 19px rgba(219,219,219,0.27);
-moz-box-shadow: 1px 0px 31px 19px rgba(219,219,219,0.27);
box-shadow: 1px 0px 31px 19px rgba(219,219,219,0.27);
 }

// .fields{
//     margin-left:30px;
//     margin-top:30px;
// }


 #form{
    width:50%;
    
    background-color:whitesmoke;
    margin-left:25%;
    height:100%;
    border-radius:2%;
    margin-top:10%;   
    border:grey 2px solid;
   
 }

 #gameform{
  width:50%;
  
  background-color:whitesmoke;
  margin-left:25%;
  height:100%;
  border-radius:2%;
  margin-top:5%;   
  border:black 1px solid;
 
}


form li{
   padding-left:5%;
   padding-right:5%;
   margin:3px;
     list-style:none;
    color:black;
}


 #form li:focus{
     margin:10px;
   list-style:none;
   color:black;
   background-color:lightblue;
   border: 3px solid #555;
   }



// #createform{
//     background-color:white;
//     margin-top:1%;
//     height:100%;
//     border-style: grey 5px;
    
// }

// .formicon{
//     margin:20px;
//     border-radius:5%;
//     margin-left:40%;
//     border:solid 2px;
// }

 #createbutton{
     margin-top:4%;
     width:100%;
     margin-bottom:5%;
 }

// #description{
//     resize:none;
// }

#good{
  width:50px;
}


#ViewGame{
     margin-top:10%;
     margin-bottom:2%;
     width:100%;
    
 }

// .ProfilePage{
//     margin-top: 2px;
//     background:white;
//     height:850px;
//     padding:0;
    
// }

// .ProfilePicture{
//         height: 200px;
//         width:200px;
//         padding:1%;
// }

 .GamePicture{
    height:200px;
   width:100%;
   padding:1%;
    
 }

 .GamePictureShow{
  height:300px;
  width:70%;
  padding:1%;
  margin-left:14.5%;
  
}


// .ProfileInfo{
//     background-color: whitesmoke;
//     width: 100%;
//     height:20%;
// }


li{
  list-style:none;
}

.formname{
  text-align:center;
  margin-top:5%;
}

#formbutton{
  width:25%;
  margin-bottom:2%;
}



.gamepreview{
  text-align:center;

}

.price{
  color:red;
}



.paybutton{
  padding:2px;
}

.showprofile{
  width:100%;
  height:200px;

  background-color:gainsboro;
}

.profileinfo{
  margin-left:10px;
  margin-top:10px;
}

.chatwindow
{
  margin:5%;
  height:300px;
  background-color:white;
  overflow:scroll;
  
}

.allchatwindow{
  color:red;
  margin-top:20px;
  height:10px;
  width:300px;

}

#chatbox{
  
  width:100%;
  resize:none;
  
  
}

.outerchatbox{
  margin-left:5%;
  margin-right:5%;
  
  
}

.chooseuser{
  margin-left:40%;
  padding-top:5%;
  padding-bottom:5%;

}

#subjectbox{
  margin-bottom:10px;
  width:100%;
  resize:none;
}

.messages{
  text-align:center;
}

#messagebutton{
  width:100%;
  border: 1px lightgrey solid;
}